*.pyc
.idea/
__pycache__
*.egg-info/
data/training/*
!data/training/.gitkeep
data/training_2/*
!data/training_2/.gitkeep
stuff.txt
/.gitignore
models/markovify/bot_1/*
models/markovify/bot_2/*
!models/markovify/bot_1/.gitkeep
!models/markovify/bot_2/.gitkeep